/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";
@import "static_pages.scss";

body{
  background-color: $gray-light;
}
.navbar {
  background-color: white;
}
.navbar-brand{
  position: absolute;
  left: 50%;
}
.post-panel{
  margin-top: -21px;
}
.post-panel:hover{
  background-color: #f5f8fa;
}
.post-title{
  text-align: left;
  margin-left: 15px;
}
.post-content{
  text-align: left;
  margin-left: 15px;
}
.post-links{

}
.post-owner{
  color: black;
  font-weight: bold;
}
.post-create-date{
  opacity: 0.65;
}
.glyphi-links{
  opacity: 0.5;
  // font-size: 120%;
  margin-right: 60px;
}
.glyphi-links:hover{
  opacity: 1;
}
.rounded-img{
  border-radius: 5px;
}
.avatar-size-icon{
  width: 25px;
  height: 25px;
}
.avatar-size-small{
  width: 35px;
  height: 35px;
}
.avatar-size-medium{
  width: 48px;
  height: 48px;
}
.new-post-box{
  margin-left: 10px;
}
.new-post-submit{
  float: right;
}
.link-top{
  opacity: 0.7;
}