// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes scale {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@-webkit-keyframes scale {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

.titulo__home {
	h1, p{
		text-align: center;
		color: $white;
	}
}

.home {
	.btn-uniblah {
		width: 100%;
		margin: 1em 0;
	}

	@media #{$mq-desktop} {
		.btn-uniblah {
			width: 200px;
		}
	}
}

.formBox {
	padding: .3em;
	border-radius: 5px;

	@media #{$mq-desktop} {
		width: 40%;
		padding: 2em;
		background-color: $white;
		border: 1px solid $gray-light;
		margin: 0 auto;
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
	}
}

.titulo__home img{
	-webkit-animation-name: scale;
	-webkit-animation-duration: 1s;
}

.btn-uniblah {
	background-color: $standard;
	color: #fff;
	margin: 0 auto;
	border-radius: 0;
	transition: .4s;

	&:hover {
		background-color: $standard-hover;
		color: $gray-light;
		transition: .2s background-color ease-out;
	}
}

.sign-in, .sign-up {
	text-align: center;
}