<footer class="footer">
  <small>
    UniBlah! - 2017
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato",   contact_path %></li>
    </ul>
  </nav>
</footer>